body{
  background: #E3E3E3;
  margin: 0;
  margin-bottom: 80px;
  font-family: 'Roboto', sans-serif;
}

.game{
  position: relative;
  background: white;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px #ACACAC;
  padding-top: 10px;
  width: 350px;
  margin: 12px;
  display: inline-block;
}

.square{
  height: 100px;
  width: 100px;
  border: 4px solid black;
  background: white;
  display: inline-block;
}

.board{
  line-height: 0px;
  height: 324px;
  width: 324px;
  border: 4px solid black;
  margin: auto;
}

.square:hover{
  cursor: pointer;
  border: 4px solid #2196F3;
}

.O{
  background-image: url(O.png);
  background-size: cover;
}

.X{
  background-image: url(X.png);
  background-size: cover;
}

.empty:active{
  border: 4px solid rgba(76, 175, 80, .9);
}

.O:active, .X:active {
  border: 4px solid rgba(255,0,0,.8);
}

.message{
  height: 70px;
  line-height: 70px;
}

.prompt {
  background: green;
  height: 70px;
  line-height: 70px;
  color: white;
  border-radius: 0 0 3px 3px;
}

.prompt:hover {
  cursor: pointer;
  background: rgb(76, 175, 80);
}

.prompt:active {
  background: green;
}



footer{
  z-index: 100;
  position: fixed;
  height: 70px;
  width: 100%;
  bottom: 0;
  background: green;
  margin: 0;
  line-height: 70px;
  border-top: 1px solid lightgray;
}

.title {
    float: left;
    height: 100%;
    margin: 0;
    padding: 0 24px;
    border-right: 1px solid lightgray;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.add-game {
  float: right;
  height: 100%;
  margin: 0;
  padding: 0 24px;
  border-left: 1px solid lightgray;
  color: white;
  font-size: 24px;
}

.add-game:hover, .title:hover {
  cursor: pointer;
  background: rgba(76, 175, 80, 1);
}

.add-game:active, .add-game:active {
  background: green;
}

@media (min-device-width : 320px) and (max-device-width : 480px){

  .game{
    margin: 12px 2vw 24px 2vw;
    width: 98vw;
  }

  .board{
    background: black;
    border: 2vw solid black;
    height: 90vw;
    width: 90vw;
  }

  .square{
    height: 26vw;
    width: 26vw;
    border: 2vw solid black;
  }

  .square:hover{
    border: 2vw solid black;
  }

  .empty:active{
    border: 2vw solid black;
  }

  .O:active, .X:active {
    border: 2vw solid black;
  }
}
